<% if current_user.present? %>
<%= render partial: 'account/navigation' %>
<section class="message_table container">
  <table>
    <tr>
      <th class="image_t">Images</th>
      <th class="price_t">Prix</th>
      <th class="date_t">Date</th>
      <th class="message_t">Messages</th>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">33 ans</td>
      <td class="date_t">Espagne</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
  </table>
</section>
<h1>La je suis dans CONTACTS / MES MESSAGES RECUS</h1>
<%else%>
<div class="modal d_block " tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('general_listing.disconected') %></h5>
        <button type="button" class="close to_home" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= link_to(t('header.login'), new_user_session_path, class: 'btn btn-primary  green_button')  %>
    </div>
  </div>
</div>
</div>
<% end %>
<script>
    $( ".close.to_home" ).click(function() {
        window.location.replace("<%= root_path %>");
    });
</script>
