<section class="container-fluid nav_account">
  <p class="d_inlblock"><%= link_to(t('account.my_contacts'), account_contacts_path, class: "btn btn-primary grey_button d_inlblock")%></p>
  <p class="d_inlblock"><%= link_to(t('account.my_messages'), account_messages_path, class: "btn btn-primary d_inlblock grey_button")%></p>
  <!-- <p><%= link_to(t('account.my_account'), account_contacts_path, class: "btn btn-primary grey_button d_inlblock")%></p> -->
  <hr class="border_hr">
</section>
