<%= render partial: 'account/navigation' %>
<section class="message_table container">
  <table>
    <tr>
      <th class="image_t">Images</th>
      <th class="price_t">Prix</th>
      <th class="date_t">Date</th>
      <th class="message_t">Messages</th>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">33 ans</td>
      <td class="date_t">Espagne</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
    <tr>
      <td class="image_t"><img src="https://www.w3schools.com/html/pic_trulli.jpg"></td>
      <td class="price_t">26 ans</td>
      <td class="date_t">États-Unis</td>
      <td class="message_t">Lorem</td>
    </tr>
  </table>
</section>
<h1>La je suis dans MESSAGES ENVOYE</h1>